@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
}

:root {
  --bg--color: linear-gradient(180deg, #451e61 0%, #f88e6a 100%);
  --snd--bg--color: #173b5a;
  --text--color: #ffffff;
  --main--color: #ffffff;
}

/* ---------------------- BASIC HTML & BODY ---------------------- */

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: linear-gradient(135deg, #014871, #d7ede2);
  color: #f5f7f8;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* ---------------------- HEADER / NAVBAR ---------------------- */

.header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 5rem;
  background: linear-gradient(180deg, #451e61 0%, #f88e6a 100%);
  backdrop-filter: blur(8px);
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 1000;
}

.logo {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

li a {
  position: relative;
  color: white;
  font-weight: 600;
  font-size: 2rem;
}

li a::before {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  height: 5px;
  top: 25px;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
}
li a:hover::before {
  width: 100%;
}
.visit-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, #23494a, #bfffc7);
}

.visit-btn:hover {
  background: linear-gradient(to right, #bfffc7, #23494a);
  transform: scale(1.03);
}
#menu-icon {
  font-size: 2rem;
  display: none;
}

/* ---------------------- HOME SECTION ---------------------- */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #38a2d7, #561139);
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #f7f9fa;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
  color: #e1e1e1;
}

span {
  color: #4dd0e1;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
  color: #ffd166;
}

.home-img img {
  width: 15vw;
  animation: floatImage 4s ease-in-out infinite;
  border-radius: 15px;
}

/* Floating animation */
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content p {
  font-size: 1.6rem;
}

/* ---------------------- SOCIAL MEDIA ICONS ---------------------- */
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid #ffd166;
  border-radius: 50%;
  font-size: 2rem;
  color: #561139;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

/* Icon hover effect */
.social-media a:hover {
  background: #561139;
  color: var(--snd--bg--color);
  box-shadow: 0 0 2rem rgba(255, 209, 102, 0.8);
}

/* ---------------------- BUTTON STYLE ---------------------- */
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: #ffd166;
  border-radius: 4rem;
  box-shadow: 0 0 1rem rgba(255, 209, 102, 0.5);
  font-size: 1.6rem;
  color: #561139;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

/* ---------------------- ABOUT SECTION ---------------------- */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--snd--bg--color);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

#normal {
  color: #ffffff;
  font-size: 1.4rem;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #e6eeff;
}

/* Tabs start here */
.tab-title {
  display: flex;
  margin: 40px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 24px;
  font-weight: 500;
  color: #e6eeff;
  cursor: pointer;
  position: relative;
}

/* Underline animation */
.tab-links::after {
  content: "";
  width: 100;
  height: 3px;
  background: #61d3d8;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  color: #ffffff;
  font-size: 1.6rem;
}

.tab-contents ul li span {
  color: var(--bg--color);
  font-size: 14px;
}
/* Hide by default */
.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}
